STRATO_AUTH_ENV_ENABLE=true
STRATO_USERNAME=your_username
STRATO_PASSWORD=your_password
STRATO_TOTP_SECRET=your_totp_secret
STRATO_TOTP_DEVICENAME=your_totp_device_name
STRATO_WAITING_TIME=0
STRATO_API_URL=https://www.strato.de/apps/CustomerService